<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>What's Normal</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
