<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Auto Waiter</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <datalist id="steplist">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
    </datalist>
    <div id="content">
      <div id="banner">
        <h1 class="ui header">Auto Waiter</h1>
      </div>
      <form id="main-form" class="ui form segment">
        <div class="field">
          <input type="text" placeholder="Username" id="username">
        </div>
        <div class="field">
          <input type="password" placeholder="Password" id="password">
        </div>
        <div class="field">
          <input type="text" placeholder="Allergies/Dietary Restrictions (e.g. peanuts, milk)" id="restrict">
        </div>
        <div class="field">
          <input type="text" placeholder="Favorite Dishes (e.g. Eggplant Parmesan, Chicken Tikka Masala)" id="favorites">
        </div>
        {% for section in sections %}
          <h3 class="section-header">{{section.capitalize()}}</h3>
          {% for item in sections[section] %}
            <div class="field score-group">
              <h4 class="ui header">{{item.capitalize()}}:</h4>
              <div class="slider-container">
                <input type="range" min="1" max="15" step="1" list="steplist" defaultValue="8" class="slider"
                       item="{{section}}-{{item}}">
              </div>
              <div class="slider-labels">
                  <div>Hate</div>
                  <div>Neutral</div>
                  <div>Love</div>
                </div>
            </div>
          {% endfor %}
        {% endfor %}
        <button type="submit" class="ui button" id="submit-button">Submit</button>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
