<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Auto Waiter</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="content">
      <div id="banner">
        <h1 class="ui header">Auto Waiter</h1>
      </div>
      <div id="main-form" class="ui segment">
        <h2>We've received your preferences! Thanks for using Auto Waiter:)</h2>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
